@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

/* HEADER AND NAV */

.header {
  width: 100%;
  height: 50px;
  background-color: #1a535c;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  width: 100%;
  height: inherit;
}

.list-items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: inherit;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list-items > li {
  width: fit-content;
  height: inherit;
  margin: 0px 15px;
  padding: 0px 10px;
}

.list-items > li:hover {
  background-color: #184850;
}

.list-items > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: inherit;
  color: #eee5e9;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
}

/* BODY */

/* WELCOME SECTION */
.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f3eef0;
  color: #000;
}

.title {
  font-size: 6rem;
}

.subtitle {
  font-size: 3rem;
}

/* PROJECTS SECTION */
.projects-section {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
}

.projects-container > a {
  text-decoration: none;
  color: #f3eef0;
  cursor: pointer;
}

.projects-title {
  margin-bottom: 20px;
  font-size: 4rem;
}

.project-1 {
  width: 600px;
  height: 400px;
  background-image: url("../assets/proj1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 30px;
  border-radius: 10px;
  position: relative;
}

.project-2 {
  width: 600px;
  height: 400px;
  background-image: url("../assets/proj2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 30px;
  border-radius: 10px;
  position: relative;
}

.project-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin: 0px;
  height: 50px;
  background-color: #1a535c;
  border-radius: 0px 0px 5px 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .project-1 {
    width: 300px;
    height: 200px;
  }
  .project-2 {
    width: 300px;
    height: 200px;
  }
}

/* CONTACT SECTION */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #f3eef0;
}

.contact-title {
  font-size: 3rem;
  margin: 40px 0px;
}

.profile-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.profile-img {
  width: 80px;
  height: 70px;
  margin: 10px 20px;
}

.profile-img > img {
  width: 100%;
  height: 100%;
}

/* FOOTER */
.footer {
  width: 100%;
  height: 30px;
  background-color: #1a535c;
  color: #eee5e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
